#loginDiv {
    /* border: 1px solid #0000ff; */
    width:150px;
    margin:0 auto;
}

#lNickName {
    width:96%;
    margin:0 auto;
}

#lPassword {
    width:96%;
    margin:0 auto;
}

#registerForm {
    /* border: 1px solid #0000ff; */
    width:150px;
    margin:0 auto;
}