#loginform {
    position: fixed;
    top: 25%;
    left: 25%;
}

#registrationForm {
    position: fixed;
    top: 25%;
    left: 50%;
}

#loginDiv {
    /*border: 1px dashed;*/
}

#registerDiv {
    /*border: 1px dashed;*/
}