<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <welcome-file>LoginPage.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>MVCFilter</filter-name>
        <filter-class>MaximPackage.Servlet.MVC.MVCFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MVCFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>Janis</filter-name>
        <filter-class>janis.monaco.mvc.MVCFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Janis</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>RouteFilter</filter-name>
        <filter-class>AlexPackage.Filter.RouteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RouteFilter</filter-name>
        <url-pattern>/route</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RouteFilter</filter-name>
        <url-pattern>/route_save</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RouteFilter</filter-name>
        <url-pattern>/route_view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RouteFilter</filter-name>
        <url-pattern>/route_auth</url-pattern>
    </filter-mapping>






    <!--<filter>-->
        <!--<filter-name>MVCFilterR</filter-name>-->
        <!--<filter-class>nikocmihPackage.servlet.MVC.MVCFilterR</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>MVCFilterR</filter-name>-->
        <!--<url-pattern>/review</url-pattern>-->
    <!--</filter-mapping>-->

    <filter>
        <filter-name>MVCFilterR</filter-name>
        <filter-class>nikocmihPackage.servlet.MVC.MVCFilterR</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>MVCFilterR</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!--<servlet>-->
    <!--<servlet-name>HelloWorldServlet</servlet-name>-->
    <!--<servlet-class>lv.javaguru.java2.servlet.HelloWorldServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>HelloW orldServlet</servlet-name>-->
    <!--<url-pattern>/hello</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>LoginPageServlet</servlet-name>-->
    <!--<servlet-class>MaximPackage.Servlet.LoginPageServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>LoginPageServlet</servlet-name>-->
    <!--<url-pattern>/LoginPage</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>ParameterProcessingServlet</servlet-name>-->
    <!--<servlet-class>lv.javaguru.java2.servlet.ParameterProcessingServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>ParameterProcessingServlet</servlet-name>-->
    <!--<url-pattern>/paramProcessing</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>SessionUsageServlet</servlet-name>-->
    <!--<servlet-class>lv.javaguru.java2.servlet.SessionUsageServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>SessionUsageServlet</servlet-name>-->
    <!--<url-pattern>/session</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
    <!--<servlet-name>RedirectToJSPServlet</servlet-name>-->
    <!--<servlet-class>lv.javaguru.java2.servlet.RedirectToJSPServlet</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
    <!--<servlet-name>RedirectToJSPServlet</servlet-name>-->
    <!--<url-pattern>/jsp</url-pattern>-->
    <!--</servlet-mapping>-->

</web-app>